html * {
    font-family: 'Work Sans', sans-serif;
} 
    
li {
    display: inline;
    padding: 14px;
}

li a {
    display: block;
    
}

button {
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
} 

input {
    display: auto;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  


    
