* {
    font-family: 'Work Sans', sans-serif;
} 
    
li {
    display: inline;
    padding: 14px;
}

li a {
    display: block;
}

button {
    font-size: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
} 

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

img {
    margin: auto;
    padding: 30px 0 30px 0;
    width: 20em;
    display: block;
    clear: both;
}